/* Copyright Alif Semiconductor - All Rights Reserved.
 * Use, distribution and modification of this code is permitted under the
 * terms stated in the Alif Semiconductor Software License Agreement
 *
 * You should have received a copy of the Alif Semiconductor Software
 * License Agreement with this file. If not, please write to:
 * contact@alifsemi.com, or visit: https://alifsemi.com/license
 */

/* I2C controller swap overlay for validation testing
 * Swaps controller/target assignments: i2c1 becomes controller,
 * i2c0 becomes target Used for cross-validation.
 */

/ {
	aliases {
		i2c-controller = &i2c1;
		i2c-target = &i2c0;
	};
};

&i2c0 {
	status = "okay";
	/* target in swapped configuration */
};

&i2c1 {
	status = "okay";
	/* controller in swapped configuration */
};
