/* Copyright (C) 2026 Alif Semiconductor - All Rights Reserved.
 * Use, distribution and modification of this code is permitted under the
 * terms stated in the Alif Semiconductor Software License Agreement
 *
 * You should have received a copy of the Alif Semiconductor Software
 * License Agreement with this file. If not, please write to:
 * contact@alifsemi.com, or visit: https://alifsemi.com/license
 *
 */

/ {
	aliases {
		dac = &dac0;
	};
};

&dac0 {
	status = "okay";
	/* Two's complement mode disabled (property omitted) */
	/* Load capacitance compensation: 4pF */
	capacitance = "DAC_4PF_CAPACITANCE";
	/* Output current: MAXIMUM 1500 uA (1.5 mA) - HRM maximum */
	output_current = "DAC_1500UA_OUT_CUR";
};
