/*
 * Copyright (C) Alif Semiconductor - All Rights Reserved.
 * Use, distribution and modification of this code is permitted under the
 * terms stated in the Alif Semiconductor Software License Agreement
 *
 * You should have received a copy of the Alif Semiconductor Software
 * License Agreement with this file. If not, please write to:
 * contact@alifsemi.com, or visit: https://alifsemi.com/license
 *
 */

&jpeg0 {
	status = "okay";
	quality-factor = <75>;
	max-burst-length = <64>;
};

/* JPEG run profile: ensure SRAM0 + MRAM available for buffer pool. */
&aipm_run_default {
	memory-blocks = < (ALIF_SRAM0_MASK | ALIF_MRAM_MASK) >;
};
