/* Copyright (C) 2025 Alif Semiconductor - All Rights Reserved.
 * Use, distribution and modification of this code is permitted under the
 * terms stated in the Alif Semiconductor Software License Agreement
 *
 * You should have received a copy of the Alif Semiconductor Software
 * License Agreement with this file. If not, please write to:
 * contact@alifsemi.com, or visit: https://alifsemi.com/license
 */

&{/} {
	aliases {
		led0 = &aled0;
		led2 = &aled2;
	};

	leds {
		compatible = "gpio-leds";
		aled0: led_0 {
			gpios = <&gpio4 5 0>;
			label = "LED0_G";
		};

		aled2: led_2 {
			gpios = <&gpio4 3 0>;
			label = "LED0_B";
		};
	};
};

/* SW2 (User Switch / PB_SW1) is wired to P15_0 (LPGPIO pin 0). Pull-up required. */
&pinctrl_lpgpio {
	group0 {
		pinmux = <PIN_P15_0__LPGPIO>;
		driver-state-control = <1>;
	};
};

&lpgpio {
	pinctrl-0 = <&pinctrl_lpgpio>;
	pinctrl-names = "default";
	status = "okay";
};

&{/} {
	/delete-node/ buttons;

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&lpgpio 0 GPIO_ACTIVE_LOW>;
		};
	};
};
