/*
 * Copyright (c) 2024 Alif Semiconductor
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * Enable RTC and Set the counter to increment every 1sec
 */

&rtc0 {
	prescaler = <1>;
	status = "okay";
};

&lpgpio {
	status = "disabled";
};

&uart4 {
	status = "disabled";
};

&uart2 {
	status = "okay";
};

&lpuart {
	status = "disabled";
};

&pd_syst {
	status = "disabled";
};
&pd_sse700_aon {
	status = "disabled";
};

&uart_ahi {
	status = "disabled";
};

&uart_hci {
	clock-frequency = <76800000>;
	dlf = <0xa>;
	status = "okay";
};

&subsys_off {
	status = "disabled";
};

&standby_s2ram {
	min-residency-us = <19000000>;
	status = "disabled";
};

&stop_s2ram {
	min-residency-us = <4000>;
	exit-latency-us = <3000>;
	status = "okay";
};

/ {
	chosen {
		zephyr,cortex-m-idle-timer = &rtc0;
	};
};
