/* Copyright (C) 2025 Alif Semiconductor - All Rights Reserved.
 * Use, distribution and modification of this code is permitted under the
 * terms stated in the Alif Semiconductor Software License Agreement
 *
 * You should have received a copy of the Alif Semiconductor Software
 * License Agreement with this file. If not, please write to:
 * contact@alifsemi.com, or visit: https://alifsemi.com/license
 */

/* DMA overlay for LPSPI test instances.  Stack with boards/lpspi.overlay.
 * spi4/lpspi0 uses dma2; spi0/spi1 uses dma0.
 */
#include "board_common.overlay"

&dma0 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

#if ALIF_BOARD == ALIF_BOARD_E1C || ALIF_BOARD == ALIF_BOARD_B1
&lpspi0 {
	dmas = <&dma2 0 13>, <&dma2 1 12>;
	dma-names = "txdma", "rxdma";
};
#else
&spi4 {
	dmas = <&dma2 0 13>, <&dma2 1 12>;
	dma-names = "txdma", "rxdma";
};
#endif

#if ALIF_BOARD == ALIF_BOARD_E7_HE
&spi0 {
	dmas = <&dma0 2 20>, <&dma0 3 16>;
	dma-names = "txdma", "rxdma";
};
#else
&spi1 {
	dmas = <&dma0 2 21>, <&dma0 3 17>;
	dma-names = "txdma", "rxdma";
};
#endif
