/* Copyright (C) 2025 Alif Semiconductor - All Rights Reserved.
 * Use, distribution and modification of this code is permitted under the
 * terms stated in the Alif Semiconductor Software License Agreement
 *
 * You should have received a copy of the Alif Semiconductor Software
 * License Agreement with this file. If not, please write to:
 * contact@alifsemi.com, or visit: https://alifsemi.com/license
 */

/* DMA overlay for SPI1/SPI0.  Stack with boards/spi.overlay.
 * SPI instances are shared peripherals, use dma0 for both HP and HE.
 */
#include "board_common.overlay"

&dma0 {
	status = "okay";
};

&spi1 {
	dmas = <&dma0 0 21>, <&dma0 1 17>;
	dma-names = "txdma", "rxdma";
};

&spi0 {
	dmas = <&dma0 2 20>, <&dma0 3 16>;
	dma-names = "txdma", "rxdma";
};
