/* Copyright (C) 2025 Alif Semiconductor - All Rights Reserved.
 * Use, distribution and modification of this code is permitted under the
 * terms stated in the Alif Semiconductor Software License Agreement
 *
 * You should have received a copy of the Alif Semiconductor Software
 * License Agreement with this file. If not, please write to:
 * contact@alifsemi.com, or visit: https://alifsemi.com/license
 */

/* DMA overlay for SPI1/SPI0.  Stack with boards/spi.overlay.
 * HP boards use dma1; HE / A5 / E1C / B1 use dma2.
 */
#include "board_common.overlay"

&DMA_CTRL {
	status = "okay";
};

&spi1 {
	dmas = <&DMA_CTRL 0 21>, <&DMA_CTRL 1 17>;
	dma-names = "txdma", "rxdma";
};

&spi0 {
	dmas = <&DMA_CTRL 2 20>, <&DMA_CTRL 3 16>;
	dma-names = "txdma", "rxdma";
};
