/* Copyright (C) 2026 Alif Semiconductor - All Rights Reserved.
 * Use, distribution and modification of this code is permitted under the
 * terms stated in the Alif Semiconductor Software License Agreement
 *
 * You should have received a copy of the Alif Semiconductor Software
 * License Agreement with this file. If not, please write to:
 * contact@alifsemi.com, or visit: https://alifsemi.com/license
 */

#include <zephyr/dt-bindings/dma/alif_dma_event_router.h>

/ {
	aliases {
		timer = &utimer0;
	};
};

&utimer0 {
	status = "okay";
	dma-trig;
	dmas = <&evtrtr0 ALIF_DMA_ENCODE(0, 2, 1) 0>,
	       <&evtrtr0 ALIF_DMA_ENCODE(0, 2, 1) 5>;
	dma-names = "rx", "neg";

	counter {
		status = "okay";
	};
};

&dma0 {
	status = "okay";
};

&evtrtr0 {
	status = "okay";
};
