# Copyright (C) 2024 Alif Semiconductor - All Rights Reserved.
# Use, distribution and modification of this code is permitted under the
# terms stated in the Alif Semiconductor Software License Agreement
#
# You should have received a copy of the Alif Semiconductor Software
# License Agreement with this file. If not, please write to:
# contact@alifsemi.com, or visit: https://alifsemi.com/license

config ALIF_POWER_MGR_SHELL
	bool "HAL power manager commands"
	default y
	depends on SHELL
	depends on HAS_ALIF_POWER_MANAGER
	help
	  Enable Alif Power manager commands

config ALIF_PWR_AUTOSTART
	bool "Automatically start ES0 BLE radio on boot"
	default n
	depends on ALIF_POWER_MGR_SHELL
	help
	  When enabled, automatically initializes the ES0 BLE radio
	  with HPA mode on boot. Equivalent to running the shell
	  commands 'pwr start --hpa' and 'pwr hci' at startup.

config ALIF_PWR_AUTOSTART_HCI_PINMUX_B
	bool "Use pinmux_b for HCI UART on autostart"
	default n
	depends on ALIF_PWR_AUTOSTART
	help
	  When enabled, the autostart HCI configuration uses pinmux_b.
	  Equivalent to running 'pwr hci --pinmux_b'.
