/* Copyright (C) 2025 Alif Semiconductor - All Rights Reserved.
 * Use, distribution and modification of this code is permitted under the
 * terms stated in the Alif Semiconductor Software License Agreement
 *
 * You should have received a copy of the Alif Semiconductor Software
 * License Agreement with this file. If not, please write to:
 * contact@alifsemi.com, or visit: https://alifsemi.com/license
 *
 */


#include <zephyr/dt-bindings/dma/alif_dma_event_router.h>

#define I2S0_DMA_RX_CH  2
#define I2S0_DMA_RX_REQ 24
#define I2S0_DMA_TX_CH  3
#define I2S0_DMA_TX_REQ 28

&evtrtr2 {
	status = "okay";
};

&i2s0 {
	/*
	 * Cell 0: ALIF_DMA_ENCODE(channel, dma_group, handshake)
	 *   - channel: Physical DMA channel (2 for RX, 3 for TX)
	 *   - dma_group: Input source selection (1) - selects which peripheral input
	 *   - handshake: Enable hardware handshaking (1 for I2S)
	 * Cell 1: Peripheral request number (24 for RX, 28 for TX)
	 */
	dmas = <&evtrtr2 ALIF_DMA_ENCODE(I2S0_DMA_RX_CH, 1, 1) I2S0_DMA_RX_REQ>,
	       <&evtrtr2 ALIF_DMA_ENCODE(I2S0_DMA_TX_CH, 1, 1) I2S0_DMA_TX_REQ>;
	dma-names = "rxdma", "txdma";
};
