#define HCI_UART_DMA_RX_CH  0
#define HCI_UART_DMA_RX_REQ 26
#define HCI_UART_DMA_TX_CH  1
#define HCI_UART_DMA_TX_REQ 27

&dma2 {
	status = "okay";
	dma-channels = <8>;
	interrupts = <0 3>, <1 3>, <2 3>, <3 3>, <4 3>, <5 3>,
		     <6 3>, <7 3>, <32 3>;
	interrupt-names = "channel0", "channel1",
			  "channel2", "channel3",
			  "channel4", "channel5",
			  "channel6", "channel7",
			  "abort";
};

/* Group0 is used so no EVTRTR2 configuration needed */
&uart_hci {
	dmas = <&dma2 HCI_UART_DMA_RX_CH HCI_UART_DMA_RX_REQ>,
	       <&dma2 HCI_UART_DMA_TX_CH HCI_UART_DMA_TX_REQ>;
	dma-names = "rx", "tx";
};
